
/* Formulaire de modification */
.edit-user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.edit-user-form h1 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 1rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-wrapper label {
    margin-bottom: 0.3rem;
    font-weight: bold;
}

.input-wrapper input {
    border-radius: 2px;
    height: 25px;
    padding-left: 5px;
    width: 100%;
}

.input-wrapper input:disabled {
    background-color: lightgrey;
    color: grey;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.save-button,
.cancel-button {
    background-color: #00bc77;
    border: none;
    color: white;
    font-weight: bold;
    padding: 0.625rem;
    border-radius: 3px;
    width: 100px;
    cursor: pointer;
}

.save-button:hover,
.cancel-button:hover {
    opacity: 0.9;
}

@media (max-width: 768px) {
    .edit-user-form {
        padding: 0 1rem;
    }

    .input-wrapper input {
        width: 100%;
    }
}
